[alias]
	undo-commit = reset --soft HEAD^
	checkout-submodules = submodule update --init --recursive
[user]
	name = Joseph D. Long
	email = me@joseph-long.com
	signingkey = /Users/jlong/.ssh/id_ed25519.pub
[color]
	ui = true
[push]
	default = simple
[credential]
	useHttpPath = true
	helper = !~/.git-credential-helper.sh
[merge]
	ff = only
[pull]
	rebase = false
[init]
	defaultBranch = main
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[gpg]
	format = ssh
[commit]
	gpgsign = true
[tag]
	gpgsign = true
[gpg "ssh"]
	allowedSignersFile = /Users/jlong/.config/git/allowed_signers
